## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.vs/
.vscode/
*.sln.docstates
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build
publish/
dist/

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
